{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexa Gateway API",
    "version": "1.0.0",
    "summary": "One key, every model — Claude / GPT / DeepSeek / Qwen / Kimi / Gemini.",
    "description": "Nexa is an OpenAI-/Anthropic-compatible gateway that aggregates 9 model providers behind a single bearer key. Pass any supported `model` id to the relevant endpoint and Nexa routes to the right upstream — translating formats when needed, billing per-token at official price minus a small platform discount.\n\n**Quick start**\n```bash\ncurl https://claude.xxflk.cn/v1/chat/completions \\\n  -H 'Authorization: Bearer sk-xxf-...' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"model\":\"claude-sonnet-4-6\",\"messages\":[{\"role\":\"user\",\"content\":\"hi\"}]}'\n```\n\n**Authentication**\n\nAll relay endpoints require an API key minted in the [console](/console/keys). Pass it as a Bearer token. Keys can be scoped to specific models and given daily/weekly/monthly USD spending caps.\n\n**Streaming**\n\nBoth `/v1/messages` and `/v1/chat/completions` accept `\"stream\": true` and return a standard SSE stream that mirrors what the upstream provider emits — byte-passthrough, ~10 ms added latency.\n\n**Caching**\n\nAnthropic prompt caching is fully supported. Cache reads are billed at ~10% of the fresh-input rate; the gateway parses the upstream `usage` object and bills each bucket separately. See `/v1/catalog` for cache prices per model.",
    "contact": {
      "name": "Nexa support",
      "email": "xixiyeyu@gmail.com",
      "url": "https://claude.xxflk.cn"
    },
    "license": { "name": "MIT" }
  },
  "servers": [
    { "url": "https://claude.xxflk.cn", "description": "Production" }
  ],
  "tags": [
    { "name": "Relay", "description": "Forward chat requests to the right upstream provider." },
    { "name": "Public", "description": "Public catalog + status endpoints (no auth)." },
    { "name": "Console", "description": "Logged-in user surface (cookie auth)." }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sk-xxf-…",
        "description": "API key minted at /console/keys. Treat as a password — calls are billed against the owning user's balance."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["error"] },
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Machine-readable error category.",
                "enum": [
                  "authentication_error",
                  "permission_error",
                  "invalid_request_error",
                  "not_found_error",
                  "rate_limit_error",
                  "api_error",
                  "overloaded_error"
                ]
              },
              "message": { "type": "string" }
            },
            "required": ["type", "message"]
          }
        },
        "required": ["type", "error"]
      },
      "AnthropicMessage": {
        "type": "object",
        "properties": {
          "role": { "type": "string", "enum": ["user", "assistant"] },
          "content": {
            "oneOf": [
              { "type": "string" },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string" },
                    "text": { "type": "string" }
                  }
                }
              }
            ]
          }
        },
        "required": ["role", "content"]
      },
      "AnthropicMessagesRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "Model id. `claude-*` ids route to the Anthropic OAuth pool. OpenAI-style ids (`gpt-5.4`, `gpt-5.3-codex`) are translated onto the closest Claude tier.",
            "examples": ["claude-sonnet-4-6", "claude-opus-4-7", "claude-haiku-4-5-20251001"]
          },
          "messages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AnthropicMessage" }
          },
          "system": {
            "oneOf": [
              { "type": "string" },
              {
                "type": "array",
                "items": { "type": "object" }
              }
            ]
          },
          "max_tokens": { "type": "integer", "minimum": 1 },
          "stream": { "type": "boolean", "default": false },
          "temperature": { "type": "number", "minimum": 0, "maximum": 1 },
          "top_p": { "type": "number" },
          "stop_sequences": { "type": "array", "items": { "type": "string" } },
          "tools": {
            "type": "array",
            "items": { "type": "object" },
            "description": "Tool / function-calling specs — passed through verbatim."
          }
        },
        "required": ["model", "messages", "max_tokens"]
      },
      "AnthropicMessagesResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "enum": ["message"] },
          "role": { "type": "string", "enum": ["assistant"] },
          "model": { "type": "string" },
          "content": { "type": "array", "items": { "type": "object" } },
          "stop_reason": { "type": "string" },
          "usage": {
            "type": "object",
            "properties": {
              "input_tokens": { "type": "integer" },
              "cache_read_input_tokens": { "type": "integer" },
              "cache_creation_input_tokens": { "type": "integer" },
              "output_tokens": { "type": "integer" }
            }
          }
        }
      },
      "OpenAIChatRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "Model id. Native ids: `gpt-5.4`, `gpt-5.3-codex`, `deepseek-chat`, `qwen3-max`, `gemini-2.5-pro`, `kimi-k2-0905-preview`, etc. The gateway routes by prefix.",
            "examples": ["gpt-5.4", "deepseek-chat", "qwen3-coder-plus"]
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": { "type": "string", "enum": ["system", "user", "assistant", "tool"] },
                "content": {
                  "oneOf": [
                    { "type": "string" },
                    { "type": "array", "items": { "type": "object" } }
                  ]
                }
              },
              "required": ["role", "content"]
            }
          },
          "max_tokens": { "type": "integer", "minimum": 1 },
          "stream": { "type": "boolean", "default": false },
          "temperature": { "type": "number", "minimum": 0, "maximum": 2 },
          "top_p": { "type": "number" },
          "stop": {
            "oneOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } }
            ]
          },
          "tools": { "type": "array", "items": { "type": "object" } }
        },
        "required": ["model", "messages"]
      },
      "OpenAIChatResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["chat.completion"] },
          "model": { "type": "string" },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": { "type": "integer" },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": { "type": "string" },
                    "content": { "type": "string" }
                  }
                },
                "finish_reason": { "type": "string" }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": { "type": "integer" },
              "completion_tokens": { "type": "integer" },
              "total_tokens": { "type": "integer" }
            }
          }
        }
      },
      "CatalogModel": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "tier": { "type": ["string", "null"] },
          "officialInputUsdPerM": { "type": "number" },
          "officialOutputUsdPerM": { "type": "number" },
          "ourInputUsdPerM": { "type": "number" },
          "ourOutputUsdPerM": { "type": "number" },
          "cacheReadUsdPerM": { "type": ["number", "null"] }
        }
      },
      "CatalogProvider": {
        "type": "object",
        "properties": {
          "slug": { "type": "string" },
          "displayName": { "type": "string" },
          "tagline": { "type": "string" },
          "state": {
            "type": "string",
            "enum": ["pool", "live", "pending"],
            "description": "`pool` = Claude OAuth pool · `live` = third-party API key configured · `pending` = listed but not yet active on this deploy."
          },
          "models": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CatalogModel" }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/messages": {
      "post": {
        "tags": ["Relay"],
        "summary": "Anthropic-compatible chat",
        "description": "Native Anthropic Messages API. Streams SSE when `stream: true`. Use this for Claude Code, Cline (Anthropic mode), or anywhere expecting the Messages format. OpenAI model ids (`gpt-5.4` etc.) are accepted and translated to the closest Claude tier.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AnthropicMessagesRequest" },
              "examples": {
                "simple": {
                  "summary": "Hello world",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 128,
                    "messages": [{ "role": "user", "content": "hi" }]
                  }
                },
                "streaming": {
                  "summary": "Streaming with system prompt",
                  "value": {
                    "model": "claude-opus-4-7",
                    "max_tokens": 1024,
                    "stream": true,
                    "system": "be terse",
                    "messages": [{ "role": "user", "content": "explain SSE in one sentence" }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Non-streaming: full message body. Streaming: `text/event-stream` with `message_start` / `content_block_delta` / `message_delta` / `message_stop` events forwarded byte-for-byte.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnthropicMessagesResponse" }
              }
            }
          },
          "402": {
            "description": "Balance depleted or per-key spending cap reached.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "429": {
            "description": "Rate-limit hit (per-key request rate or monthly token quota).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "503": {
            "description": "All upstream accounts cooling / pool empty / circuit breaker open.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": ["Relay"],
        "summary": "OpenAI-compatible chat",
        "description": "Standard OpenAI `/v1/chat/completions` shape. The gateway routes by `model` prefix:\n\n- `claude-*` → Anthropic OAuth pool\n- `gpt-*` / `o3*` → OpenAI (if API key configured) else Claude translation\n- `deepseek-*` / `qwen-*` / `kimi-*` / `glm-*` / `doubao-*` / `mistral-*` / `codestral-*` / `gemini-*` → that vendor's native API (when configured)\n\nAny model that resolves to a Claude tier supports prompt caching automatically — the gateway preserves Anthropic's cache headers when the upstream client emits them.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OpenAIChatRequest" },
              "examples": {
                "claude-via-openai-shape": {
                  "summary": "Use Claude via OpenAI SDK",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "messages": [{ "role": "user", "content": "hi" }]
                  }
                },
                "deepseek": {
                  "summary": "DeepSeek V3 (when configured)",
                  "value": {
                    "model": "deepseek-chat",
                    "messages": [{ "role": "user", "content": "say hello in 3 words" }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI chat-completion response (or SSE stream if `stream: true`).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OpenAIChatResponse" }
              }
            }
          },
          "402": {
            "description": "Balance depleted or spending cap reached.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "503": {
            "description": "Configured upstream returned an error or no key configured for the requested vendor.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/catalog": {
      "get": {
        "tags": ["Public"],
        "summary": "Provider + model catalog",
        "description": "List every supported provider with its model catalog and prices (input / cache_read / output, in USD per 1M tokens). Cached at the edge for 60s. No auth required — this is the data behind the `/pricing` page.",
        "responses": {
          "200": {
            "description": "Catalog payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markupRate": { "type": "number", "description": "Multiplier applied to official prices. 0.85 = 15% off." },
                    "usdToCnyRate": { "type": "number" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/CatalogProvider" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pricing": {
      "get": {
        "tags": ["Public"],
        "summary": "Flat pricing list (legacy)",
        "description": "Older flat list of every priced model. Prefer `/v1/catalog` for new clients — same data, grouped by provider with state info.",
        "responses": {
          "200": {
            "description": "Flat list of models with official + discounted prices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markupRate": { "type": "number" },
                    "usdToCnyRate": { "type": "number" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "modelId": { "type": "string" },
                          "provider": { "type": "string" },
                          "tier": { "type": ["string", "null"] },
                          "officialInputUsdPerM": { "type": "number" },
                          "officialOutputUsdPerM": { "type": "number" },
                          "ourInputUsdPerM": { "type": "number" },
                          "ourOutputUsdPerM": { "type": "number" },
                          "ourInputCnyPerM": { "type": "number" },
                          "ourOutputCnyPerM": { "type": "number" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": ["Public"],
        "summary": "Health check",
        "description": "Returns 200 + `{ ok: true }` when the gateway can serve traffic. Used by Caddy / uptime monitors.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "ok": { "type": "boolean" } }
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": ["Public"],
        "summary": "Build version",
        "responses": {
          "200": {
            "description": "Build SHA + start time.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": { "type": "string" },
                    "startedAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
